.corpo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: rgb(189, 189, 189, 0.9);
}

.blocoLogin {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40rem;
  height: 100%;
  gap: 2.5rem;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
}

.formulario {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  padding: 0;
}

.dado {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  border-radius: 25px;
  padding: 0.6em;
  margin: 0 0 1rem 0;
  border: none;
  outline: none;
  color: white;
  background-color: #ffffff;
  transition: .4s;
  width: 100%;
  height: 100%;
}

.dado:hover {
  transform: scale(1.01);
  transition: .4s;
  border: 1px solid black;
  box-shadow: rgba(0, 0, 0, 20) 1px 0px 10px;
}

.icone {
  height: 1.3em;
  width: 1.3em;
  fill: rgb(0, 0, 0);
}

.blocoTexto {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 3rem;
}

.texto {
  background: none;
  border: none;
  outline: none;
  width: 100%;
  color: #000000;
}

.titulo {
  font-family: 'Inter', sans-serif;
  margin: 1rem 0 0.5rem 0;
}

.botao {
  position: relative;
  margin-top: 1rem;
  width: 40%;
}

.botao input[type=checkbox] {
  display: none;
}

.estados {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 1px solid #999999;
  border-radius: 50px;
}

.ligado {
  width: 200%;
  margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}

.ligado:before,
.ligado:after {
  float: left;
  width: 50%;
  height: 30%;
  padding: 0;
  line-height: 30px;
  font-size: 20px;
  color: white;
  font-family: Trebuchet, Arial, sans-serif;
  font-weight: bold;
  box-sizing: border-box;
}

.ligado:before {
  content: "Aluno";
  background-color: #03497B;
  color: #FFFFFF;
  text-align: center;
}

.ligado:after {
  content: "Professor";
  background-color: #FFFFFF;
  color: #03497B;
  text-align: center;
}

.bolinha {
  width: 35px;
  margin: -2.5px;
  background: #FFFFFF;
  border: 1px solid #999999;
  border-radius: 50px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 89%;
  transition: all 0.3s ease-in 0s;
}

.tipos:checked+.estados .ligado {
  margin-left: 0;
}

.tipos:checked+.estados .bolinha {
  right: 0;
}

.botoes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
  width: 100%;
  min-height: 2rem;
}

.pagin {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader {
  --dim: 3rem;
  width: var(--dim);
  height: var(--dim);
  position: relative;
  animation: spin988 2s linear infinite;
}

.loader .circle {
  --color: #ffffff;
  --dim: 1.2rem;
  width: var(--dim);
  height: var(--dim);
  background-color: var(--color);
  border-radius: 50%;
  position: absolute;
}

.loader .circle:nth-child(1) {
  top: 0;
  left: 0;
}

.loader .circle:nth-child(2) {
  top: 0;
  right: 0;
}

.loader .circle:nth-child(3) {
  bottom: 0;
  left: 0;
}

.loader .circle:nth-child(4) {
  bottom: 0;
  right: 0;
}

@keyframes spin988 {
  0% {
    transform: scale(1) rotate(0);
  }

  20%,
  25% {
    transform: scale(1.3) rotate(90deg);
  }

  45%,
  50% {
    transform: scale(1) rotate(180deg);
  }

  70%,
  75% {
    transform: scale(1.3) rotate(270deg);
  }

  95%,
  100% {
    transform: scale(1) rotate(360deg);
  }
}

@media (max-width: 768px) {

  input, textarea {
    width: 100%;
    font-size: 16px;
  }

  .corpo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: rgb(189, 189, 189, 0.9);
  }

  .blocoLogin {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 100%;
    gap: 2rem;
    
  }

  .blocoTexto {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 1rem;
    margin: 0;
  }
  
  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15rem;
  }
  
  .formulario {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
  }

  .dado {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    border-radius: 25px;
    padding: 0.6em;
    border: none;
    outline: none;
    color: white;
    background-color: #ffffff;
    transition: .4s;
    width: 100%;
    height: 100%;
    margin: 0;
  }
  
  .dado:hover {
    transform: scale(1.01);
    transition: .4s;
    border: 1px solid black;
    box-shadow: rgba(0, 0, 0, 20) 1px 0px 10px;
  }

  .botao {
    position: relative;
    width: 50%;
    margin: 1rem 0 0 0 ;
  }
  
  .botao input[type=checkbox] {
    display: none;
  }
  
  .estados {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 1px solid #999999;
    border-radius: 50px;
  }
  
  .ligado {
    width: 200%;
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
  }
  
  .ligado:before,
  .ligado:after {
    float: left;
    width: 50%;
    height: 30%;
    padding: 0;
    line-height: 30px;
    font-size: 20px;
    color: white;
    font-family: Trebuchet, Arial, sans-serif;
    font-weight: bold;
    box-sizing: border-box;
  }
  
  .ligado:before {
    content: "Aluno";
    background-color: #03497B;
    color: #FFFFFF;
    text-align: center;
  }
  
  .ligado:after {
    content: "Professor";
    background-color: #FFFFFF;
    color: #03497B;
    text-align: center;
  }
  
  .bolinha {
    width: 35px;
    margin: -2.5px;
    background: #FFFFFF;
    border: 1px solid #999999;
    border-radius: 50px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 89%;
    transition: all 0.3s ease-in 0s;
  }
  
  .tipos:checked+.estados .ligado {
    margin-left: 0;
  }
  
  .tipos:checked+.estados .bolinha {
    right: 0;
  }

  .titulo {
    font-family: 'Inter', sans-serif;
    margin: 1.7rem 0 1rem 0;
  }
  
  
  .botoes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    width: 100%;
    margin-top: 1rem;
  }
  
}

@font-face {
  font-family: 'Inter';
  src: url('../../Inter/Inter-VariableFont_slnt\,wght.ttf') format('truetype');

}