@media (min-width: 769px) {

.corpo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgb(255, 255, 255);
}

.corpoEsquerdo{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: auto;
    padding: 0 auto;
    height: 100%;
    background-color: #11A3E1;
    box-shadow: rgb(0, 0, 0) 1px 1px 8px;
    z-index: 3;
}

.corpoDireito{
    width: 100%;
    height: 100%;
}

.blocoSuperior{
    display: flex;
    align-items: center;
    justify-content: end;
    width: 100%;
    height: 3.5rem;
    background-color: #03497B;
}

.blocoInferior{
    width: 88%;
    height: 83%;
    background-color: rgb(255, 255, 255);
    display: flex; 
    align-items: flex-start;
    flex-wrap: wrap; 
    overflow-y:scroll;
    padding-top: 5%;
    padding-left: 12%;
}

.blocoInferior::-webkit-scrollbar{
    display: auto;
    width: 10px;
}

.blocoInferior::-webkit-scrollbar-thumb{
    border-radius: 20px;
    background-color: rgb(7, 4, 44);
}


.box1 {
    width: 10rem;
    height: 10rem;
    background-color: rgb(255, 0, 0);
    margin: 1rem;
    border-radius: 10px;
    box-shadow: rgb(153, 148, 148) 1px 1px 12px;
    padding: 3%;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Quicksand', sans-serif;
}

.campoLogo{
    display: flex;
    align-items: center;
    max-width: 11rem;
    max-height: 3.5rem;
}
.logo{
    width: 13rem;
    margin: 8%;
}

.logoSimples{
    position: absolute;
    opacity: 0;
    width:0;
    height: 0;
}

.linha{
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 0.4%;
}

.opcoes {
    width: 100%;
    height: 92.1%;
}

.botaoFuncionalidade{
    width: 12rem;
    height: 4rem;
}

.botaoFuncionalidadeMin{
    position: absolute;
    opacity: 0;
    margin: 0;
    width: 0;
    height: 0;
}
.perfilContainer{
    margin-right: 1rem;
}

.perfil {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
    height: 2.5rem;
    background-color: rgb(201, 210, 230);
    border-radius: 100%;
    cursor: pointer;
}

.perfil:hover .infoPerfil {
    visibility: visible;
    opacity: 1; 
}

.infoPerfil {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    min-width: 20rem;
    top: 5%;
    right: 4.2%;
    background-color: rgb(255, 255, 255);
    border-radius: 10px 0px 10px 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    transition: opacity 0.3s ease, visibility 0.3s ease;
    padding: 2%;
    z-index: 50;
    cursor: default;
}

.caixaIcone{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.icone {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
    height: 2.5rem;
    background-color: rgb(225, 226, 246);
    border-radius: 90%;
    border: 1px solid #000000;
    cursor: pointer;
}

.icone:hover {
    transform: scale(1.04);
    background-color: rgb(163, 185, 227);
}


.dadosPerfil{
    cursor: text;
}

.dadosPerfil:hover{
    transform: scale(1.02);
}

.botaoEditar{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 3rem;
    height: 1.5rem;

}

.escurecer {
    visibility: visible;
    opacity: 1;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Cor de fundo preta com opacidade */
    z-index: 4; 
    cursor:no-drop
}

.linhaPerfil{
    width: 90%;
}


.box{
    width: auto;
    height: auto;
    background-color: rgb(255, 255, 255);
    margin: 1.5rem;
    border-radius: 7px;
    box-shadow: rgb(153, 148, 148) 1px 1px 12px;
    padding: 1rem ;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Quicksand', sans-serif;
}

.boxAula{
    width: auto;
    height: auto;
    background-color: rgb(255, 255, 255);
    margin: 2rem;
    border-radius: 7px;
    box-shadow: rgb(153, 148, 148) 1px 1px 12px;
    padding: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Quicksand', sans-serif;
}

.categoriaCurso {
    text-transform: uppercase;
    width: 15rem;
    min-height: 1.3rem;
    max-height: 1.3rem;
    background-color: #38afff;
    border-radius: 5px;
    box-shadow: rgb(153, 148, 148) 1px 1px 12px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    margin-top: 0.5rem;
    margin-bottom: 1.7rem;
    overflow-x: scroll;
    white-space: nowrap;
}

.categoriaCurso::-webkit-scrollbar {
    display: auto;
    height: 3px;
}

.categoriaCurso::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background-color: rgb(202, 202, 202);
    cursor: pointer;
}

.categoriaAula {
    text-transform: uppercase;
    width: 15rem;
    min-height: 1.3rem;
    max-height: 1.3rem;
    background-color: #38afff;
    border-radius: 5px;
    box-shadow: rgb(153, 148, 148) 1px 1px 12px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    margin-top: 0.5rem;
    margin-bottom: 1.7rem;
    overflow-x: scroll;
    white-space: nowrap;
}

.categoriaAula::-webkit-scrollbar {
    display: auto;
    height: 3px;
}

.categoriaAula::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background-color: rgb(202, 202, 202);
    cursor: pointer;
}

.descricaoCurso{
    display: flex;
    width: 15rem;
    min-height: 4rem;
    max-height: 4rem;
    font-size: 13px;
    overflow-y:scroll;
    margin-bottom: 1rem;
}

.descricaoCurso::-webkit-scrollbar{
    display: auto;
    width: 3px;
}

.descricaoCurso::-webkit-scrollbar-thumb{
    border-radius: 2px;
    background-color: rgb(202, 202, 202);
    cursor: pointer;
}

.professorCurso{
    display: flex;
    align-items: center;
    width: 15rem;
    margin-bottom: 0.6rem;
    min-height: 2.8rem;
    max-height: 2.8rem;
    font-size: 13px;
    overflow-y:scroll;
}

.professorCurso::-webkit-scrollbar{
    display: auto;
    width: 3px;
}

.professorCurso::-webkit-scrollbar-thumb{
    border-radius: 2px;
    background-color: rgb(202, 202, 202);
    cursor: pointer;
}

.valorComprar{
    width: 15rem;
    min-height: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}

.botaoComprar{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 0.5rem;
}

.valor{
    text-align: center;
    width: 100%;
    font-size: 12px;
}

.confirmarCompra {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    background-color: rgb(255, 255, 255);
    width: 30rem;
    height: 30rem;
    z-index: 7
}

.dadosDaCompraConfirmar{
    font-family: 'Inter', sans-serif;
    font-size: 2rem;
    margin: 0rem 1.5rem 1.5rem 1.5rem ;
    color: #03497B;
}

.categoriaCursoConfirmar{
    width: 25rem;
    min-height: 1rem;
    border-radius: 5px;
    padding: 5px;
    font-size: 0.9rem;
    margin-bottom: 1.7rem;
}

.nomeDescricaoCursoConfirmar{
    width: 25rem;
}

.descricaoCursoConfirmar{
    display: flex;
    width: 25rem;
    min-height: 5rem;
    max-height: 5rem;
    font-size: 0.9rem;
    overflow-y:scroll;
    margin-bottom: 1rem;
}

.descricaoCursoConfirmar::-webkit-scrollbar{
    display: auto;
    width: 3px;
}

.descricaoCursoConfirmar::-webkit-scrollbar-thumb{
    border-radius: 2px;
    background-color: rgb(202, 202, 202);
    cursor: pointer;
}

.professorCursoConfirmar{
    width: 25rem;
    min-height: 3rem;
    margin-bottom: 0.6rem;
    font-size: 0.9rem;
}

.valorConfirmar{
    text-align: center;
    width: 25rem;
    font-size: 1.3rem;
    margin-bottom: 1rem;
}

.botoesCompra{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    width: 25rem;
    margin-top: 1rem;
}

.caixaSair{
    display: flex;
    align-items: end;
    width: 100%;
    height: 100%;
}

.botaoSair{
    display: flex;
    align-items: center;
    justify-content:left;
    background-color: #11A3E1;
    border-style: none;
    transition: 0.2s;
    color: #ffffff;
    font-size: 1rem;
    cursor: pointer;
    margin-bottom: 5%;
}

.botaoSair:hover{
    color: #03497B;
}

.blocoNaoCurso{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 7rem;
    height: 7rem;
    border-style:solid;
    border-color: #686868;
    border-radius: 90%;
    border-width: 0.5rem;
    margin-bottom: 1rem;
}


.blocoNaoCursoTexto{
    font-family: 'Inter', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    color: #686868;
    
}

.alertaNaoCurso{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-75%,-80%);
    width: 20rem;
    height: 15rem;
}

}

@media (max-width: 768px) {

    .corpo {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        position: absolute;
        width: 100vw;
        height: 100vh;
        background-color: rgb(255, 255, 255);
    }
    
    .corpoEsquerdo{
        position: absolute;
        left: 0;
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 5rem;
        height: 100%;
        background-color: #11A3E1;
        box-shadow: rgb(0, 0, 0) 1px 1px 8px;
        overflow: hidden;
        transition: 0.2s;
        z-index: 3;
    }

    .corpoEsquerdo:hover{
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 15rem;
        height: 100%;
        box-shadow: rgb(0, 0, 0) 1px 1px 8px;
        z-index: 3;
        
    }

    .corpoEsquerdo:hover .logo{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        min-height: 4rem;
        max-height: 4rem;
        opacity: 1;
        padding: 1rem;
        margin: 0;
        
    }

    .corpoEsquerdo:hover .campoLogo{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 1;
        width: 12rem;
        height: 2rem;
        margin:1rem 0 1rem 0 ;
        
    }

    .corpoEsquerdo:hover .logoSimples{
        position: absolute;
        width: 0rem;
        height: 0rem;
        opacity: 0;
        padding: 1;
        margin: 0;
    }

    .corpoEsquerdo:hover .botaoFuncionalidade{
        position: relative;
        width: 15rem;
        height: 4rem;
        opacity: 1;
    }
    
    .corpoEsquerdo:hover .botaoFuncionalidadeMin{
        position: absolute;
        width: 0;
        height: 0;
        opacity: 0;
    }

    .botaoFuncionalidade{
        position: absolute;
        width: 0;
        height: 0;
        opacity: 0;
    }
    
    .botaoFuncionalidadeMin{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 auto;
        width: 15rem;
        height: 4rem;
        margin: 0;
        opacity: 1;
        border-bottom: 2px solid #ffffff;
    }
    
    .corpoDireito{
        width: 100%;
        height: 100%;
    }
    
    .blocoSuperior{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        min-height: 4rem;
        max-height: 4rem;
        background-color: #03497B;
    }
    
    .blocoInferior{
        position: absolute;
        width: calc(100% - 5rem);
        height: calc(100% - 4.4rem);
        background-color: rgb(255, 255, 255);
        right: 0%;
        display: flex; 
        align-items: flex-start;
        justify-content: center;
        flex-wrap: wrap; 
        overflow-y:scroll;
    }
    
    .blocoInferior::-webkit-scrollbar{
        display: auto;
        width: 10px;
    }
    
    .blocoInferior::-webkit-scrollbar-thumb{
        border-radius: 20px;
        background-color: rgb(7, 4, 44);
    }
    
    
    .box1 {
        width: 10rem;
        height: 10rem;
        background-color: rgb(255, 0, 0);
        margin: 1rem;
        border-radius: 10px;
        box-shadow: rgb(153, 148, 148) 1px 1px 12px;
        padding: 3%;
        display: flex;
        align-items: center;
        flex-direction: column;
        font-family: 'Quicksand', sans-serif;
    }
    
    .logo{
        position: absolute;
        width: 0;
        height: 0;
        opacity: 0;
    }

    .logoSimples{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width:10rem;
        min-height: 4rem;
        max-height: 4rem;
        opacity: 1;
    }

    .campoLogo{
        position: absolute;
        opacity: 0;
        width: 0;
    }

    .caixaLogo{
        position: relative;
        width: 3rem;
        opacity: 1;
        
    }

    
    
    .linha{
        background-color: rgb(255, 255, 255);
        width: 100%;
        height: 0.4%;
    }
    
    .opcoes {
        width: 100%;
        height: 92.1%;
    }
    
    
    
    .perfilContainer{
        margin-right: 1rem;
    }
    
    .perfil {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 2.5rem;
        height: 2.5rem;
        background-color: rgb(201, 210, 230);
        border-radius: 100%;
        cursor: pointer;
    }
    
    .perfil:hover .infoPerfil {
        visibility: visible;
        opacity: 1; 
    }
    
    .infoPerfil {
        visibility: hidden;
        opacity: 0;
        position: absolute;
        min-width: 20rem;
        max-width: 23rem;
        top: 5%;
        right: 12%;
        background-color: rgb(255, 255, 255);
        border-radius: 10px 0px 10px 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
        transition: opacity 0.3s ease, visibility 0.3s ease;
        padding: 1rem;
        cursor: default;
        z-index: 4;
    }
    
    .caixaIcone{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
    }
    
    .icone {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 2.5rem;
        height: 2.5rem;
        background-color: rgb(225, 226, 246);
        border-radius: 90%;
        border: 1px solid #000000;
        cursor: pointer;
    }
    
    .icone:hover {
        transform: scale(1.04);
        background-color: rgb(163, 185, 227);
    }
    
    
    .dadosPerfil{
        cursor: text;
    }
    
    .dadosPerfil:hover{
        transform: scale(1.02);
    }
    
    .botaoEditar{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-top: 3rem;
        height: 1.5rem;
    
    }
    
    .escurecer {
        visibility: visible;
        opacity: 1;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5); /* Cor de fundo preta com opacidade */
        z-index: 5; 
        cursor:no-drop
    }
    
    .linhaPerfil{
        width: 90%;
    }
    
    
    .box{
        max-width: 15rem;
        min-width: 15rem;
        height: auto;
        background-color: rgb(255, 255, 255);
        margin: 1.5rem;
        border-radius: 7px;
        box-shadow: rgb(153, 148, 148) 1px 1px 12px;
        padding: 1rem;
        display: flex;
        align-items: center;
        flex-direction: column;
        font-family: 'Quicksand', sans-serif;
    }
    
    .boxAula{
        max-width: 15rem;
        min-width: 15rem;
        height: auto;
        background-color: rgb(255, 255, 255);
        margin: 2rem 0.2rem 2rem 0.2rem;
        border-radius: 7px;
        box-shadow: rgb(153, 148, 148) 1px 1px 12px;
        padding: 1rem;
        display: flex;
        align-items: center;
        flex-direction: column;
        font-family: 'Quicksand', sans-serif;
    }
    
    .categoriaCurso {
        text-transform: uppercase;
        width: 15rem;
        min-height: 1.3rem;
        max-height: 1.3rem;
        background-color: #38afff;
        border-radius: 5px;
        box-shadow: rgb(153, 148, 148) 1px 1px 12px;
        padding: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 14px;
        margin-top: 0.5rem;
        margin-bottom: 1.7rem;
        overflow-x: scroll;
        white-space: nowrap;
    }

    .categoriaCurso::-webkit-scrollbar {
        display: auto;
        height: 3px;
    }

    .categoriaCurso::-webkit-scrollbar-thumb {
        border-radius: 2px;
        background-color: rgb(202, 202, 202);
        cursor: pointer;
    }

    .categoriaAula {
        text-transform: uppercase;
        width: 15rem;
        min-height: 1.3rem;
        max-height: 1.3rem;
        background-color: #38afff;
        border-radius: 5px;
        box-shadow: rgb(153, 148, 148) 1px 1px 12px;
        padding: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 14px;
        margin-top: 0.5rem;
        margin-bottom: 1.7rem;
        overflow-x: scroll;
        white-space: nowrap;
    }

    .categoriaAula::-webkit-scrollbar {
        display: auto;
        height: 3px;
    }

    .categoriaAula::-webkit-scrollbar-thumb {
        border-radius: 2px;
        background-color: rgb(202, 202, 202);
        cursor: pointer;
    }
    
    .descricaoCurso{
        display: flex;
        width: 95%;
        min-height: 4rem;
        max-height: 5rem;
        font-size: 13px;
        overflow-y:scroll;
        margin-bottom: 1rem;
    }
    
    .descricaoCurso::-webkit-scrollbar{
        display: auto;
        width: 3px;
    }
    
    .descricaoCurso::-webkit-scrollbar-thumb{
        border-radius: 2px;
        background-color: rgb(202, 202, 202);
        cursor: pointer;
    }
    
    .professorCurso{
        width: 95%;
        min-height: 3rem;
        margin-bottom: 0.6rem;
        font-size: 13px;
    }
    
    .valorComprar{
        width: 95%;
        min-height: 3rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 14px;
    }
    
    .botaoComprar{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-bottom: 0.5rem;
    }
    
    .valor{
        text-align: center;
        width: 100%;
        font-size: 12px;
    }
    
    .confirmarCompra {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
        background-color: rgb(255, 255, 255);
        width: auto;
        height: auto;
        padding: 1rem;
        z-index: 7
    }
    
    .dadosDaCompraConfirmar{
        width: 100%;
        font-family: 'Inter', sans-serif;
        font-size: 2rem;
        text-align: center;
        margin: 0rem 1.5rem 1.5rem 1.5rem ;
        color: #03497B;
    }
    
    .categoriaCursoConfirmar{
        width: 90%;
        min-height: 1rem;
        border-radius: 5px;
        padding: 5px;
        font-size: 0.9rem;
        margin-bottom: 1.7rem;
    }
    
    .nomeDescricaoCursoConfirmar{
        width: 90%;
    }
    
    .descricaoCursoConfirmar{
        display: flex;
        width: 90%;
        min-height: 5rem;
        max-height: 5rem;
        font-size: 0.9rem;
        overflow-y:scroll;
        margin-bottom: 1rem;
    }
    
    .descricaoCursoConfirmar::-webkit-scrollbar{
        display: auto;
        width: 3px;
    }
    
    .descricaoCursoConfirmar::-webkit-scrollbar-thumb{
        border-radius: 2px;
        background-color: rgb(202, 202, 202);
        cursor: pointer;
    }
    
    .professorCursoConfirmar{
        width: 90%;
        min-height: 3rem;
        margin-bottom: 0.6rem;
        font-size: 0.9rem;
    }
    
    .valorConfirmar{
        text-align: center;
        width: 90%;
        font-size: 1.3rem;
        margin-bottom: 1rem;
    }
    
    .botoesCompra{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        gap: 1rem;
        width: 100%;
        margin-top: 1rem;
    }
    
    .caixaSair{
        display: flex;
        align-items: end;
        width: 100%;
        height: 100%;
    }
    
    .botaoSair{
        display: flex;
        align-items: center;
        justify-content:left;
        background-color: #11A3E1;
        border-style: none;
        transition: 0.2s;
        color: #ffffff;
        font-size: 1rem;
        cursor: pointer;
        margin-bottom: 5%;
    }
    
    .botaoSair:hover{
        color: #03497B;
    }
    
    .blocoNaoCurso{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 7rem;
        height: 7rem;
        border-style:solid;
        border-color: #686868;
        border-radius: 90%;
        border-width: 0.5rem;
        margin-bottom: 1rem;
    }
    
    
    .blocoNaoCursoTexto{
        font-family: 'Inter', sans-serif;
        font-size: 1.5rem;
        font-weight: bold;
        color: #686868;
        
    }
    
    .alertaNaoCurso{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        top: 50%;
        left: 50%;
        transform: translate(-75%,-80%);
        width: 20rem;
        height: 15rem;
    }

    
.blocoNaoCurso{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 7rem;
    height: 7rem;
    border-style:solid;
    border-color: #686868;
    border-radius: 90%;
    border-width: 0.5rem;
    margin-bottom: 1rem;
}


.blocoNaoCursoTexto{
    font-family: 'Inter', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    color: #686868;
    
}

.alertaNaoCurso{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 20rem;
    height: 15rem;
}

}



@font-face {
    font-family: 'Inter';
    src: url('../../Inter/Inter-VariableFont_slnt\,wght.ttf') format('truetype');

}